<div class="signers">
    <img src="/monkey6.jpg">
    <h2>The total number of people already signed till now is {{totalNum}}</h2>
    {{#allSigners}}
        <ul>
            <li>
                {{#if url}}
                    <h1><a href={{url}}>{{first}} {{last}}</a> {{age}} <a href=/signers/{{city}}>{{city}}</a></h1>
                {{else}}
                    <h1>{{first}} {{last}} {{age}} <a href=/signers/{{city}}>{{city}}</a></h1>
                {{/if}}
                    
            </li>
        </ul>
    {{/allSigners}}
</div>

<div>
        <button id="logoutBtn" type="button"><a href="/logout">Logout</a></button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/logoutBtn.js"></script>